<p></p><p></p>
<div class="card">
  <img class="card-img-top" src="assets\Images\smoke.jpg" alt="Card image cap">
  <div class="card-block">
    <p class="card-text">Air and water pollution caused by industry are significant environmental issues in Romania.
      The country’s manufacturing facilities, chemical plants, and power plants rely heavily on burning fossil fuels,
      resulting in high levels of greenhouse gas and acid rain-producing sulfur dioxide.
      In addition to causing air quality problems, industrial runoff often ends up in the Danube river system, which
      makes the water there unsafe for drinking and damages river ecosystems.
    </p>

  </div>
</div>

<p></p>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Clean Technology in Romania</h3>
        <p class="card-text">Thus far, the growth of clean technology in Romania has happened in fits and starts.
          In 2013, the country installed more than 1 gigawatts of solar capacity, placing them on the same level as
          global players such as the United Kingdom and Italy. However, the Romanian government severely cut back its
          solar incentives and the industry subsequently convulsed.
          In 2015, Romania’s Energy Minister told Bloomberg Business the government was in talks with both renewable
          energy companies and regulators regarding a solution to make investments in renewable energy “profitable
          again”.
          Clean technology innovation, along with technology innovation in general, has largely floundered in Romania.
          While the country has a robust network of universities and technical schools, well-trained Romanian students
          aren’t making the jump to impactful innovators.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Cities and pollution</h3>
        <p class="card-text">Romania’s capital Bucharest is the 9th most polluted out of a ranking of 96 cities in
          Europe with a pollution index ranking of 73.60, in mid-2015.
          Bucharest’s ranking in Europe is certainly a cause for concern as it is joined in the top 10 by cities such as
          Moscow and Kiev.
          Globally, Bucharest comes 83rd just behind Malaysia’s capital Kuala Lumpur out of 297 cities worldwide. The
          most polluted city in the world is Xi’an, China which clocks a staggeringly high pollution index score of
          99.94.
          Other Romanian cities mentioned in the pollution index for Europe include Timisoara at 21st, Iasi at 26th, and
          Cluj-Napoca which comes in as Romania’s least polluted city at 70th place. In the area of air quality Romania
          plans to continue implementing and monitoring the effectiveness of its air-quality management plans.
        </p>
      </div>
    </div>
  </div>
</div>
<p></p>
