<p></p><p></p>
<div class="row">
  <div class="col-12 offset-0">
    <h1 class="statistics">Recent data about air pollution </h1>
    <p></p>
    <p></p>

    <div class="card">
      <img class="card-img-top" src="assets\Images\clean.jpg" alt="Card image cap">
      <!--<div class="card-block">-->
      <!--<p class="card-text">Recent data about air pollution</p>-->
      <!--</div>-->
    </div>

    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <button type="button" class="btn btn-primary btn-lg" (click)="evolutionButton()">Evolution of pollution</button>

    <!-- Indicates a dangerous or potentially negative action -->
    <button type="button" class="btn btn-primary btn-lg" (click)="comparativeButton()">Comparative pollution</button>

    <button type="button" class="btn btn-primary btn-lg" (click)="regionButton()">Region pollution</button>

    <div id="page-info"></div>

    <app-evolution [hidden]="hiddenEvolution">
    </app-evolution>

    <app-comparative [hidden]="hiddenComparative">
    </app-comparative>

    <app-region [hidden]="hiddenRegion">
    </app-region>

    <p></p>
    <p></p>
    <p></p>
  </div>
</div>
