.page_description{

  color: darkslategrey;
  font-weight: bold;
  size: 45px;
  text-align: justify;

}
.map{
  color: forestgreen;
  font-weight: bold;
  text-align: left;
}

.card-header{
  size: 125px;
  color: darkgrey;
  font-weight: bold;
}

.emptyspace{
  height:5%;
}

.spacebetween{
  height:3%;
}
