<div class="row">
  <div class="col-8 offset-2">

    <h2 class="subtitle">
      Map to a better world!
    </h2>


    <div class="jumbotron">
      <h1 class="display-3">Pollution map</h1>
      <p class="lead">The map of romanian pollution at the moment. </p>
      <hr class="my-4">
      <p>Most polluted cities and most commeon causes of pollution.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" [routerLink]="['pollution-map']" role="button">Learn more</a>
      </p>

    </div>

    <!-- Indicates a successful or positive action -->
    <button type="button" class="btn btn-success btn-lg" (click)="aboutButton()">About pollution</button>
    <!-- Indicates a successful or positive action -->
    <button type="button" class="btn btn-success btn-lg" (click)="statisticsButton()">Statistics</button>
    <!-- Indicates a successful or positive action -->
    <button type="button" class="btn btn-success btn-lg" (click)="getInvolvedButton()">Get involved!</button>


    <app-get-involved [hidden]="hiddenForm">
    </app-get-involved>

    <app-about [hidden]="hiddenAbout">
    </app-about>

    <app-statistics [hidden]="hiddenStatistics">
    </app-statistics>
  </div>
</div>
