<p></p><p></p><p></p><p></p>
<h2 class="evoltitle">Evolution of pollution in a city</h2>
<p></p><p></p>
<p class="evolDescription"> Choose the city and the period and submit to see a graphic and some statistics with the
  evolution of the pollution.</p>
<p></p><p></p>
<p></p><p></p>
<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <fieldset class="form-group">
        <h4 class="card-title">City</h4>
        <!--<legend>The polluted city</legend>-->

        <select class="custom-select" id="ListaEvolution">
          <option selected>City</option>
          <option value="1">AlbaIulia</option>
          <option value="2">Arad</option>
          <option value="3">Bucuresti</option>
          <option value="4">Bacau</option>
          <option value="5">BaiaMare</option>
          <option value="6">Bistrita</option>
          <option value="7">Botosani</option>
          <option value="8">Braila</option>
          <option value="9">Brasov</option>
          <option value="10">Buzau</option>
          <option value="11">Calan</option>
          <option value="12">Calarasi</option>
          <option value="13">Campulung</option>
          <option value="14">ClujNapoca</option>
          <option value="15">Constanta</option>
          <option value="16">Craiova</option>
          <option value="17">Deva</option>
          <option value="18">DrobetaTurnuSeverin</option>
          <option value="19">Focsani</option>
          <option value="20">Galati</option>
          <option value="21">Giurgiu</option>
          <option value="22">Iasi</option>
          <option value="23">Lugoj</option>
          <option value="24">Mangalia</option>
          <option value="25">Medias</option>
          <option value="26">MiercureaCiuc</option>
          <option value="27">Navodari</option>
          <option value="28">Oradea</option>
          <option value="29">OteluRosu</option>
          <option value="30">PiatraNeamt</option>
          <option value="31">Pitesti</option>
          <option value="32">Ploiesti</option>
          <option value="33">RamnicuValcea</option>
          <option value="34">Resita</option>
          <option value="35">SatuMare</option>
          <option value="36">Sebes</option>
          <option value="37">Sibiu</option>
          <option value="38">Suceava</option>
          <option value="39">Targovist</option>
          <option value="40">TarguJiu</option>
          <option value="41">Timisoara</option>
          <option value="42">Urziceni</option>
          <option value="43">Vaslui</option>
          <option value="44">Zalau</option>


        </select>
      </fieldset>

    </div>


  </div>
</div>


<p></p>

<button id="clk1" type="submit" class="btn btn-primary" >Submit</button>
<div id="station-info"></div>
<script>console.log(":aicisahbfas")</script>
<script src="main.js"></script>

