<p></p><p></p><p></p><p></p>
<h2 class="regtitle">Pollution in different regions of Romania</h2>
<p></p><p></p>
<p class="regDescription"> Choose the region and submit. You will receive the statistics for the last years.</p>
<p></p><p></p>
<p></p><p></p>
<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <fieldset class="form-group">
        <h4 class="card-title">Region</h4>
        <!--<legend>The polluted city</legend>-->

        <select class="custom-select">
          <option selected>Region</option>
          <option value="1">Banat</option>
          <option value="2">Oltenia</option>
          <option value="3">Ardeal</option>
          <option value="4">Moldova</option>
          <option value="5">Muntenia</option>
          <option value="6">Dobrogea</option>

        </select>
      </fieldset>

    </div>


    </div>
  </div>
<p></p>
<p></p>
<button type="submit" class="btn btn-primary">Submit</button>

